@import url(https://cdn.jsdelivr.net/jquery.fullpage/2.9.4/jquery.fullpage.min.css);

:root {
  --header_color:#edede8;
  --menu_color1:#fdf9e8 ;
  --menu_color2:#fff8ef ;
  --menu_color3:#f8fffe ;
  --menu_color4:#fafafa ;
  --main_color:#e1c4a7;
  --promise_color:#e4dcd2; 
}
body {background-color: #f8f8f8;}
/* 드래그 설정 */
::selection {
  background-color: #000;
  color: #fff;
}
p, h1, h2, h3, h4, h5, a{ font-family: 'Cafe24Oneprettynight';}
a {color: #000;}
/* 
  font-family: 'Noto Serif KR'; <- 웹폰트
  font-family: 'Cafe24Oneprettynight';
*/

/* header ------------------------------------------------------------------------------------ */
header {width: 100%; height: 100vh; position: relative; overflow: hidden; background-color: burlywood;}
/* hader 로고 */
header .logo {position: absolute; left: 50%; transform: translateX(-50%); z-index: 99; top: 20px;}

/* header img 2장 설정 */
header .header_img {
  display: flex;
}
header .header_img li {
width: 50vw; height: 100vh;
}
header .header_img li:nth-child(1) {background: url(../images/header_img1.png)no-repeat 50% / cover; text-indent: -9999px;}
header .header_img li:nth-child(2) {
  position: relative;
  background-color: var(--header_color);
}

/* 두번째 이미지 중 제품이미지 중앙 배치 */
header .header_img li:nth-child(2) img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

/* 돌아가는 애니메이션 */
.header_ani {
  width: 1333px;
  position: absolute;
  bottom: -50px; right: -90px;
  animation: header_ani infinite linear 30s;
}
 @keyframes header_ani {
  100%{
    transform: rotate(360deg) ;
  }
  
  /* 스크롤 표시 (!애니메이션 필요!) */
 }
 header .scroll {
  height: 120px;
  position: absolute;
  bottom: 0px; left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  /* font-size: 1.56vw; */
 }
 /* line 추가 */
 header .scroll::after {
  position: absolute;
  content: '';
  width: 1px; height: 80px;
  background-color: #000;
  bottom: 0; left: 50%;
  transform: translateX(-50%);
 }


 /* main -------------------------------------------------------------------------------------- */
 /* 메뉴 backgroundColor 변경 */
 

main {
  width: 100%; height: 100vh;
  position: relative;
  overflow: hidden;
}

.menu_btn_wrapper, .slide_item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.menu_btn_wrapper {
  left: 6.82vw;
  font-family: 'Noto Serif KR', serif;
  font-weight: bold;
  font-size: 28px;
  color: var(--main_color);
}
.menu_btn_wrapper .menu_buttons {
  width: 300px; height: 200px;
  position: relative;
}
.menu_btn_wrapper .menu_buttons::before {
  content: '';
  width: 2px; height: 240px;
  background-color: var(--main_color);
  position: absolute;
  left: 25px; top: 0;
}
.menu_btn_wrapper .menu_buttons li {
  margin-bottom: 25px;
  margin-left: 68px;
  cursor: pointer;
}
.menu_btn_wrapper .menu_buttons li.select {
  color: rgb(56, 56, 56);
  transition: .5s;
}

.menu_btn_wrapper .menu_buttons #bar {
  width: 49px; 
  position: absolute;
  margin: 0;
  left: 0; top: 20px;
 }


/* bg */

main .bg li {
  width: 100%; height: 100%;
  position: absolute;
  opacity: 0;
}

main .bg li:nth-child(1){background-color: #fefbe7;}
main .bg li:nth-child(2){background-color: #f9ebc8;}
main .bg li:nth-child(3){background-color: #ffe6e6b3;}
main .bg li:nth-child(4){background-color: #daeaf1b3;}
main .bg li.bgColor {
  opacity: 1;
}

.slide_item {
  width: 68vw; height: 611px;
  right: 6.66vw;
}
.text_box_wrapper {position: relative; width: inherit; height: inherit;}

/* [#kor_bar, .text_box_inner .slide_img_wrapper] position 설정 */
.text_box_wrapper > * {
  position: absolute;
}
/* svg */
#kor_bar {top: 100px; left: 0;}

.kor_title {top: 100px; left: 20px; font-size: 54px;} /* 한글 타이틀 */
.text_box { top: 200px; left: 20px; } /* 음료 설명 wrapper */
.text_box_inner { position: relative; height: 250px; width: 470px; font-size: 28px; line-height: 3.125rem;} /* 음료 설명글 */

/* 메뉴 보러가기 버튼 */
.text_box_inner h3 {
  position: absolute;
  bottom: 0px; right: 0;
}
/* arrow 이미지 */
.text_box_inner h3 img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* hover시 동작 */
.text_box_inner a::before {
  content: '';
  width: 0; height: 15px;
  background-color: var(--main_color);
  position: absolute;
  bottom: 14px; left: 0;
  z-index: -1;
  transition: .3s;
 }
 .text_box_inner h3:hover a::before {
  width: 145px;
 }
/* 음료 이미지 */
.slide_img_wrapper {
  width: 680px; height: 611px;
  right: 0;
}
.slide_item .slide_img {
  width: inherit; height: inherit;
  position: relative;
}

.slide_item .slide_img img {position: absolute;}
.slide_item .slide_img #art {left: 0; bottom: 10px;}
.slide_item .slide_img #gif {width: 190px; left: 90px; top: 130px;}
.slide_item .slide_img #img {right: 0; bottom: 0;}

.slide_item .list2 #art {left: 60px; bottom: 10px; }
.slide_item .list2 #gif {width: 190px; left: 70px; top: 130px;}
.slide_item .list3 #art {left: 80px; bottom: 10px; }
.slide_item .list3 #gif {width: 190px; left: 90px; top: 130px;}
.slide_item .list4 #art {left: 110px; bottom: 10px; }
.slide_item .list4 #gif {width: 190px; left: 130px; top: 80px;}

.slide_item .slide_img {
  transform: translateX(120%);
  transition: .6s ease-in-out;
}

/* move */
.slide_item .text_box_wrapper .move {
  transform: translateY(35%);
  transition: .4s ease-in-out;
  opacity: 0;
}

/* .slide_item.active */
.slide_item.active {
  visibility: visible;
  z-index: 10;
}

.slide_item.active .text_box_wrapper h2,
.slide_item.active .text_box_wrapper p,
.slide_item.active .text_box_wrapper h3 {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.slide_item.active .slide_img {
  transform: translateX(0);
}

 /* article promise ------------------------------------------------------------------------------ */
 article .promise {
  width: 100%; 
  position: relative;
 }
 article .promise::after {
  content: '';
  width: 1.5px; height: 2473px;
  background-color: var(--main_color);
  position: absolute;
  left: 50%; top: 900px;
  transform: translateX(-50%);
 }

.promise .top_text {
  width: 100%; height: 794px;
  background-color: var(--promise_color);
  margin-bottom: 120px;
  text-align: center;
  position: relative;
 }
 .promise .top_text h2 {
  font-size: 57px;
  padding-top: 130px;
  padding-bottom: 60px;
 }
 .promise .top_text p {
  font-size: 28px;
  line-height: 2.5rem;
 }
 .promise .top_text img {
  position: absolute;
  bottom: -90px; left: 31.67vw;
 }

/* content */
.promise .main_text_wrapper {
  padding-top: 300px;
  width: 100%; height: 2500px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
 .promise .content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 }
 .promise .content .wrapper {
  padding-left: 84px;
 }

 .promise .content h3 {
  font-size: 57px;
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 50px;
 }
 .promise .content h3::before {
  content: '';
  width: 118px; height: 1px;
  background-color: #000;
  position: absolute;
  left: 0; bottom: 0;
 }
 .promise .content p {
  font-size: 28px;
  line-height: 2.6rem;
 }
 .promise .text2 {
  margin: 300px 0;
  text-align: right;
  position: relative;
 }
 .promise .text2 img {
  position: absolute; 
  right: 0; top: 0;
 }
 .promise .text2 .wrapper {
  padding-right: 84px;
 }
 .promise .text2 h3::before {
  right: 0; left: auto;
 }

 .promise .deco li {
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  z-index: 999;
 }
 .promise .deco li:nth-child(1){top:1245px ;}
 .promise .deco li:nth-child(2){top: 2175px;}
 .promise .deco li:nth-child(3){bottom: 680px;}

 .promise .more_view {
  font-size: 27px;
  width: 292px; height: 91px;
  border: 2px solid var(--main_color);
  border-radius: 45.5px;
  position: relative;
  margin: 0 auto;
  transition: .5s;
  cursor: pointer;
 }
 .promise .more_view:hover {
  background-color: var(--main_color);
  transform: scale(1.1);
 }
 .promise .more_view a {
  display: block;
  position: absolute;
  left: 40%;
  transform: translateX(-40%);
  line-height: 91px;
 }
 .promise .more_view a img {
  margin-left: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
 }


 /* banner -------------------------------------------------------------------------------------- */
 .banner { 
    width: 100%; height: 994.0665px; 
    position: relative;
    overflow: hidden;
  }
 .banner #box{
  width: 100%; height: 527.7243px;
  background: url(../images/banner.jpg.png) no-repeat fixed 50%;
  text-indent: -999px;
  position: absolute;
  position: relative;
  top: 195px;
} 
 .banner img {

  position: absolute;
  bottom: 0; left: -400px;
  animation: banner_ani infinite linear 28s ;
 }

 @keyframes banner_ani {
  100% {
    transform: rotate(-360deg);
  }
 }


 /* news ----------------------------------------------------------------------------------------- */
 .news {width: 100%; padding-bottom: 200px; text-align: center;}
 .news img { 
    width: 85px;
    margin-top: 50px;
    transition: .5s;
  }
 .news .title h2 {
  font-family: 'Noto Serif KR';
  font-size: 75.41px;
 }
 .news p {font-size: 23px;}
 .news .news_list li p{
  transition: .5s;
 }
 .news .news_list {
  width: 1361px;
  margin: 50px auto;
 }
 .news .news_list li {
  width: 100%; height: 118px;
  line-height: 118px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 218px 987px 155px ;
  border-bottom: 2px solid var(--main_color);
  position: relative;
 }

 .news .news_list li p:nth-child(2) {
  padding-left: 50px;
  text-align: left;
 }
 .news .news_list li::before {
  content: '';
  position: absolute;
  bottom: 0px; left: 0;
  width: 0; height: 2px;
  background-color: var(--main_color);
  z-index: -1;
  transition: .5s;
 }
 .news .news_list li:hover::before {
  width: 100%;
 }
 .news .news_list li:hover img {
  transform: translateX(20px);
 }
 .news .news_list li:hover p{
  transform: translateX(20px);
 }
 /* .news .news_list li:hover p:nth-child(2) {
  transform: scale(1.1) translateX(50px);
 } */


 /* footer ------------------------------------------------------------------------------------- */
 footer{
  width: 100%; height: 250px; position: relative; background-color: #fffaf4;
  
}
 footer .sns_list img {height: 33px;}
 footer .adress {
  width: 700px; 
  position: absolute;
  top: 50%; left: 500px;
  transform: translateY(-50%);
 }
 footer .adress li {
  display: flex;
  padding: 10px 0;
 }
 footer .adress li:nth-child(1) h3 {margin-right: 20px;}
 footer .adress li:nth-child(2) h3 {width: 116.3px;}
 footer .adress li:nth-child(2) h4 {margin-right: 10px;}
 footer .adress li:nth-child(4) p {
  margin-right: 12px;
  padding-right: 12px;
  border-right: 1px solid;
 }
 footer .adress li:nth-child(4) p:last-child {
  border: none;
 }
 
 

 footer .sns {
  position: absolute;
  text-align: center;
  top: 50%; left: 55%;
  transform: translateY(-50%);
 }
 footer .footer_logo {
  position: absolute;

  top: 50%; left: 200px;
  transform: translateY(-50%);
 }
 footer .sns h2 {
  font-size: 1.7rem;
  padding: 0 15px;
  text-align: left;
 }

 footer .sns .sns_list {
  display: flex;
  justify-content: center;
 }
 footer .sns .sns_list li {
  width: 50px; height: 50px; 
  margin: 10px;
  border: 1px solid #a5a5a5;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: .3s;
 }
 
 footer .sns .sns_list li img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
 }

 footer .sns .sns_list li:hover {
  background-color: var(--main_color);
  transform: scale(1.1);
 }

 footer .copyright {
  position: absolute;
  bottom: 60px; left: 150px;
 }

 footer .top_button {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 3rem;
  width: 100px; 
  height: 150px;
  text-align: center;
  padding: 20px 0;
  border: 2px solid var(--main_color);
  border-radius: 100px;
  cursor: pointer;
  transition: .5s;
 }
 footer .top_button:hover {
  background-color: var(--main_color);
  transform: scale(1.1);
 }

 footer .portfolio {
  font-size: 2rem;
  position: absolute;
  right: 300px;
  top: 100px;
  border: 2px solid var(--main_color);
  padding: 10px 30px;
  transition: .5s;
  border-radius: 100px;
 }
 footer .portfolio:hover {
  background-color: var(--main_color);
  transform: scale(1.1);
 }

