@charset "utf-8";
:root {
  --main-color:#202527;
  --bg-color:#fcf0ec;
}
.wrapper {background-color: var(--bg-color); width: 100%; overflow: hidden;}
a {color: #000; display: block;}
h2 {font-family:'SilkSerif';}
/* nav바 상단고정 */
nav {
  height: 123px; width: 100%; 
  padding: 0 83px;
  position: fixed;
  top: 0; left: 0; 
  box-sizing: border-box;
  z-index: 9999;
}

/* nav바 상단고정 */
nav #gnb {
  height: 123px;
  display: flex;
  justify-content: space-between;
}
/* 로고 가운데 정렬 */
nav #gnb img {width: 78px; position: absolute; top: 50%; transform: translate(0, -50%);}
/* menu 폰트설정 */
nav #gnb li:last-child > * {
  font-family: 'Montserrat';
}
nav #gnb li:last-child h5 {
  cursor: pointer;
  margin: 40px 0 20px 0;
  font-size: 25px;
  font-weight: 500;
  color: var(--main-color);
  padding-right: 4px;
  position: relative;
  transition: .5s;
}
/* nav #gnb li:last-child h5::before {
  content: "";
  position: absolute;
  width: 0; height: 10px;
  bottom: 0; left: 0;
  transition: .5s;
  background-color: rgba(70, 130, 180,.7);
} */
nav #gnb li:last-child h5:hover::before {
  width: 100%;
}
nav #gnb li:last-child h5 a {
  color: #000;
}
nav #gnb li:last-child h5.close a {
  color: rgba(0, 0, 0, 0); 
  position: relative;
}
.btn_wrapper{
  position: relative;
}
nav #gnb li:last-child .btn_wrapper #menuBtn2 {
  color: #000;
  position: absolute;
  top: 0;
}


/* 토글메뉴 버튼 이름 바꾸기 menu => close */
nav #gnb li:last-child h5.close a::after {
  content: "CLOSE";
  position: absolute;
  color: #000;
  top: 0; left: 0;
}
nav #gnb li:last-child h5.close a::before {
  content: "";
  position: absolute;
  width: 110%; height: 10px;
  bottom: 0;
  background-color: rgba(70, 130, 180,.7);
} 
nav #gnb li:last-child .menu {display: none; z-index: 9999; overflow: hidden;}
nav #gnb li:last-child #menu_box li {
  padding: 6px 0 4px;
  margin: 5px 0;
}
nav #gnb li:last-child #menu_box a {
  font-size: 1.3rem;
  padding-bottom: 3px;
  position: relative;
}
nav #gnb li:last-child #menu_box a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #000;
  bottom: 0; left: 0;
  transition: .3s;
}
nav #gnb li:last-child #menu_box li:hover a::after {
  width: 100%;
}

/* 메인 디바이스 이미지 */
.header_img { width: 100%; height: 900px; position: relative;}
.header_img img {
  position: absolute;
  top: 178px; left: 21.41vw;
}
.title * {position: absolute;}
.title {
  width: 100%; height: 180px;
  position: relative;
}
.title::after {
  content: '';
  position: absolute;
  width: 93.75vw;
  height: 1px;
  background-color: #000;
  bottom: 0; left: 50%;
  transform: translate(-50%);
}
.title h2 { 
  font-size: 5rem;
  top: 0; left: 14.95vw;
}
.title h3 {
  font-family: 'GmarketSans'; font-weight: 300;
  font-size: 1.75rem;
  bottom: 60px; left: 287px;
}
.title p {
  font-family: 'Montserrat';
  font-size: 1.2rem;
  text-align: right;
  line-height: 1.4;
  right: 9.58vw;
  bottom: 60px;
}


/* main */
main .box {
  width: 1063px; height: 1500px;
  margin: 0 auto;
  position: relative; 
}
/* 각 박스 하단의 border값 삽입 */
main .box::after {
  content: '';
  position: absolute;
  width: 93.75vw;
  height: 1px;
  background-color: #000;
  bottom: 0; left: 50%;
  transform: translate(-50%);
}
main h2 {position: absolute; top: 100px; left: 0; font-size: 50px;}

/* main 01 _ design */
.main01 {width: 100%; height: 1700px;}
main .main01 .design {
  height: inherit;
  position: relative; 
}
.main01 .design .design_txt {
  position: absolute;
  top: 100px; left: 50px;
  overflow: hidden;
}
.main01 .design .design_txt h3 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 28px;
  margin-top: 100px;
}
.main01 .design .design_txt p {
  font-family: 'GmarketSans'; font-weight: 300;
  color: #000;
}
.main01 .design .design_txt #concept p {
  font-size: 20px; line-height: 2.125rem;
  padding: 30px 30px;
}
.main01 .design .design_txt #keyword .keyBox {
  display: flex; 
  font-family: 'GmarketSans'; font-weight: 300; 
  font-size: 30px; justify-content: center;
}
.main01 .design .design_txt #keyword .keyBox li {
  width: 148px; height: 148px; border-radius: 50%;
  border: 1px solid var(--main-color);
  text-align: center; line-height: 148px;
  margin: 30px 30px;
}
.main01 .design .design_txt #colorPalette .colorBox { 
  display: flex;
  justify-content: center;
  text-align: center;
}
.main01 .design .design_txt #colorPalette .colorBox li {margin: 30px 30px;}
.main01 .design .design_txt #colorPalette .colorBox .color {width: 100px; height: 100px; border-radius: 50%; color: rgba(0, 0, 0, 0); margin-bottom: 10px;}
.main01 .design .design_txt #colorPalette .colorBox .color1 {background-color: #1e1e1e;}
.main01 .design .design_txt #colorPalette .colorBox .color2 {background-color: #ffd700;}
.main01 .design .design_txt #colorPalette .colorBox .color3 {background-color: #ececed; border: 1px solid var(--main-color);}
.main01 .design .design_txt #colorPalette .colorBox .color4 {background-color: #606060;}

/* #typography grid kor&eng 나누기 */
.main01 .design .design_txt #typography .font_wrapper {
  margin: 30px 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


/* typography 공통적용 부분 font-size */
#typography h4{ /* kor,eng */
  font-size: 25px; border-bottom: 1px solid #000; 
  width: fit-content; 
  padding-bottom: 4px; margin-bottom: 30px;
  font-family: 'Montserrat';
  font-weight: 500;
}

#typography h5{font-size: 30px;} /* 서체명 */
#typography h6{font-size: 55px;} /* 가, Aa */
#typography p{font-size: 20px;} /* weight */

.main01 .design .design_txt #typography .font { /* weight 나누기 */
  display: flex;
  text-align: center;
}
.main01 .design .design_txt #typography .font li{ /* weight 가로값 */
  margin-top: 20px; width: 120px;
}
.main01 .design .design_txt #typography .font li:nth-child(1) * {font-weight: 300;}
.main01 .design .design_txt #typography .font li:nth-child(2) * {font-weight: 500;}
.main01 .design .design_txt #typography.font li:nth-child(3) *{font-weight: 700;}

/* #pretendard 폰트 설정 weight값 */
.main01 .design .design_txt #typography #kor #pretendard{font-family: 'Pretendard';}

/* #geograph 폰트 설정 weight 값 */
.main01 .design .design_txt #typography #eng #geograph * {font-family: 'geograph';}
.main01 .design .design_txt #typography #eng #geograph .font li:nth-child(1) * {font-weight: 500;}


/* #montserrat 폰트 설정 weight값 */
.main01 .design .design_txt #typography #eng #montserrat * {font-family: 'Montserrat';}
.main01 .design .design_txt #typography #eng #montserrat .font li:nth-child(3) * {font-weight: 800;}
.main01 .design .design_txt #typography #eng #montserrat h5{margin-top: 20px;}