@charset "utf-8";
.main01 .design .design_txt #colorPalette .colorBox .color1 {background-color: #1e1e1e;}
.main01 .design .design_txt #colorPalette .colorBox .color2 {background-color: #ffd700;}
.main01 .design .design_txt #colorPalette .colorBox .color3 {background-color: #ececed; border: 1px solid var(--main-color);}
.main01 .design .design_txt #colorPalette .colorBox .color4 {background-color: #606060;}

/* #pretendard 폰트 설정 weight값 */
.main01 .design .design_txt #typography #kor #pretendard{font-family: 'Pretendard';}

/* #geograph 폰트 설정 weight 값 */
.main01 .design .design_txt #typography #eng #geograph * {font-family: 'geograph';}
.main01 .design .design_txt #typography #eng #geograph .font li:nth-child(1) * {font-weight: 500;}


/* #montserrat 폰트 설정 weight값 */
.main01 .design .design_txt #typography #eng #montserrat * {font-family: 'Montserrat';}
.main01 .design .design_txt #typography #eng #montserrat .font li:nth-child(3) * {font-weight: 800;}
.main01 .design .design_txt #typography #eng #montserrat h5{margin-top: 20px;}

.slide_btn_wrapper .slide_btn .back {display: none;}
.slide_btn_wrapper .slide_btn {
  justify-content: flex-end;
}