@charset "utf-8";

header {
  background: url(../images/banner_img.png) no-repeat 50%;
  height: 692px ;
}
header .top_nav { 
  background-color: var(--main-color);
}
header .top_nav .nav_wrapper {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .top_nav .nav_wrapper #menu {display: none;}
header .top_nav .nav_wrapper #drawer_menu {width: 35px;}
header .top_nav .nav_wrapper #logo a{
  color: var(--opacity-color);
  display: block;
  width: 126px; height: 37px;
  background: url(../images/icon/mobile_top_logo.svg) no-repeat 50% / contain;
}

header .slider {height:632px; position: relative;} 
header .slider .txt_box {
  position: absolute;
  width: 285px; height: 283px;
  color: var(--main-txt-color2);
  left: 10.51vw; top: 13vh;

} 
header .slider .txt_box h2 {
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
header .slider .txt_box p {
  padding: 46px 0 29px;
  line-height: 1.603rem;
  font-size: 0.938rem;
}
header .slider .txt_box a {
  color: var(--main-txt-color2);
  font-family: 'geograph';
  font-weight: 500;
  font-size: 0.7rem; line-height: 40px;
  text-align: center;
  display: block;
  width: 106px; height: 40px;
  border: #fff solid 2px;
}
header .slider .button {display: none;}
header .slider .circle_icon {
  position: absolute;
  display: flex;
  bottom: 10px; left: 50%;
  transform: translate(-50%);
  font-size: 0.9rem;
}
header .slider .circle_icon a {
  color: var(--gray-color1);
  display: block;
  width: 25px;
  text-align: center;
}




.main_01 .box2{background-color: var(--gray-color3);}
.main_01 .box3{background-color: var(--gray-color2);}
.main_01 .box4{background-color: var(--gray-color1);}
.main_01 .box{
  height: 25vh;
  padding: 0 20px;
  display: grid;
  place-content: center;
}
.main_01 .box .txt_box h2 {
  font-family: 'geograph';
  font-weight: bold;
  font-size: 2.318rem;
}
.main_01 .box .txt_box h3 {
  font-size: 1.711rem;
  padding-bottom: 20px;
}


.main_02