@charset "utf-8";
@media (min-width:768px) {
  /* header css */
  header .slider .button {display: block;}
  header .top_nav .nav_wrapper #drop_menu_wrapper {display: none;} 

  header {
    height: 851px;
  }
  header .top_nav {
    background-color: var(--opacity-color);
  }
  header .top_nav .nav_wrapper {height: 80px; padding: 0 50px; border-bottom: 1px rgba(225, 225, 225, 0.2) solid;}
  header .top_nav .nav_wrapper #menu {display: block;}
  
  header .top_nav .nav_wrapper #menu {
    display: flex;
    text-align: center;
  }
  header .top_nav .nav_wrapper #menu li {border-right: var(--point-border); padding: 0 45px;}
  header .top_nav .nav_wrapper #menu a {
    font-family: 'Montserrat';
    font-weight: 500;
    display: block;
    color: #fff;
  }
  header .top_nav .nav_wrapper #menu li:first-child {
    border-left: var(--point-border);
  }

  header .top_nav .nav_wrapper #logo a{
    display: block;
    width: 165px; height: 49px;
    background: url(../images/icon/mobile_top_logo.svg) no-repeat 50% / contain;
  }
  header .slider {height: 771px; position: relative;}
  header .slider .slider_txt_box { width: 760px; height: 358px; top: 18vh;}
  header .slider .slider_txt_box h2 {
    font-size: 3.75rem;
    line-height: 4.5rem;
  }
  header .slider .slider_txt_box p{
    font-size: 1.25rem;
    padding: 20px 0 60px;
  }
  header .slider .slider_txt_box .more_button {
    width: 153px; height: 54px;
    font-size: 1rem;
    line-height: 52px;
  }
 
  header .slider .button #right {
    position: absolute;
    top: 50%; right: 0;
    transform: translate(0,-50%);
    
  }
  header .slider .button #left {
    position: absolute;
    top: 50%; left: 0;
    transform: translate(0,-50%);
  }
  header .slider .circle_icon {bottom: 30px;}




  /* main css */

  .main_01 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 332px);
  }

  .main_01 .box .main_01_txt_box h2 {
    font-size: 3.688rem;
  }
  .main_01 .box .main_01_txt_box h3 {
    font-size: 2.313rem;
  }
  .main_01 .box .main_01_txt_box p {
    font-size: 1.25rem;
  }


  .main_02 .container_content .box1 {background: url(../images/channl_tb_img2.png) no-repeat 100%  / cover; color: var(--opacity-color); height: 638px;}
  .main_02 .container_content .box3 {background: url(../images/apparel_img4.png) no-repeat 50%  / cover;  color: var(--opacity-color); height: 638px}

  .main_02 .container_content .txt {
    height: 556px ;
  }

  .main_02 .container_content .txt_wrapper {
    width: 780px; height: 377px;
      left: initial;
      transform: initial;

      left: 10%;
      transform: translate(0, -50%);
    }

  .main_02 .container_content .txt_wrapper h4 {
    width: 190px;
    font-size: 1.125rem;
  }
  .main_02 .container_content .txt_wrapper h2 {
    font-size: 3.625rem;
    margin: 45px 0 20px;
  }
  .main_02 .container_content .txt_wrapper p {
    width: 780px;
    font-size: 1.25rem;
    line-height: 2.25rem;
    /* font-weight: 400; */
  }
  .main_02 .container_content .txt_wrapper a {
    font-size: 1.125rem;
    width: 154px; height: 49px;
    line-height: 45px;
  }


  .main_03 {height: 1122px;}
  .main_03 .video_box {
    width: 87.4643vw; height: 842px;
    position: relative;
  }
  .main_03 .video_box .mobile{
    display: flex;
    justify-content: space-between;
  }
  .main_03 .video_box h2{
    font-size: 2.07rem;
    line-height: 2.484rem;
  
  }
  .main_03 .video_box p{
    line-height: 2.188rem;
    font-size: 1.125rem;
    width: 503px;
    padding: 0;
  }
  .main_03 video {
   
    position: absolute;
    bottom: 0;
  }





  /* magazine css */
  .container_magazine .title .magazine_txt {display: block;}
  .container_magazine .box6 .magazine_txt,
  .container_magazine .box3 .magazine_txt {display: none;}

  .container_magazine {
    grid-template-rows: initial;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 571.5px);
  }
  .container_magazine #magazine {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
  }
  .container_magazine .title .wrapper {
     height: 1005.674px;
     position: relative;
     
  }
  .container_magazine .title .magazine_txt {
    position: absolute;
    bottom: 30px; left: 40px;
    font-size: 1.472rem;
    line-height: 2.5rem;
    
  }
  .container_magazine .title .wrapper .logo {
    width: 52vw;
    margin-top: 20px;
  }
  .container_magazine .title .wrapper h4 {
    width: 225px;
    font-size: 1.813rem;
    margin: 40px 50px;
  }
  .container_magazine .box4 {
    grid-row: 4;
  }

  .container_magazine #traveler {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
  }

  .container_magazine .box8 {
    grid-row: 8;
  }



  .container_magazine .box h2 {
    font-size: 2.5rem;
    line-height: 3.063rem;
  }
  .container_magazine .box a {
    font-size: 1.25rem;
  }

  .container_magazine .box .magazine_txt img {
    width: 50px;
    margin-top: 3px;
  }

  
/* store css */
.store .slider_wrapper .apparel,
.store .slider_wrapper .gimbal {display:block;}
.store .slider_wrapper .apparel{background: url(../images/store_apparel.png) no-repeat 50% / cover;}
.store .slider_wrapper .gimbal {background: url(../images/store_gimbal.png) no-repeat 50% / cover;}

.store .slider_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 31.9130vw);
  grid-column-gap: 50px;
  place-items: center;
}

.store .slider_wrapper .box {
  margin: 0 20px;
}


footer {height: 309px; overflow: hidden;}
footer .wrapper_footer {
  display: grid;  
  grid-template-columns: repeat(2, 1fr) / repeat(2, 1fr);
  height: 309px;
  position: relative;
}
footer .wrapper_footer .info {position: absolute; right:0; top: 30px; text-align: right; }
footer .wrapper_footer .info a {font-size: 2.5rem;}
footer .wrapper_footer .sns {margin-top: 30px; grid-column: 1; grid-row: 1;}
footer .wrapper_footer .copyright{grid-column: 1 / 3;}
footer .wrapper_footer .copyright ul {width: 285px;}



















}