@charset "utf-8";

.video_wrapper {
  width: 70vw; height: 650px;
  overflow: hidden;
  margin: 128px auto;
  position: relative;
  border: 15px solid #000;
  border-radius: 50px;
}
.video_wrapper video {
  width: 71vw;
  position: absolute;
  top: -75px;
}

/* title 위치 값 수정 */
.title h3 {bottom: 40px;}
.title p { bottom: 40px;}

.main01 .design .design_txt #colorPalette .colorBox .color1 {background-color: #e1c4a7; border: 1px solid var(--main-color);}
.main01 .design .design_txt #colorPalette .colorBox .color2 {background-color: #edede8; border: 1px solid var(--main-color);}
.main01 .design .design_txt #colorPalette .colorBox .color3 {background-color: #e4dcd2; border: 1px solid var(--main-color);}
.main01 .design .design_txt #colorPalette .colorBox .color4 {background-color: #f9ebc8; border: 1px solid var(--main-color);}


/* Typography css */
.main01 .design .design_txt #typography #kor #Cafe24_night *{font-family: 'Cafe24Oneprettynight';}
.main01 .design .design_txt #typography #Cafe24_night .font li {
  width: 190px;
}
.main01 .design .design_txt #typography #eng #NotoSerifKR * {font-family: 'Noto serif KR';}