@charset "utf-8";
:root {
  --main-color:#202527;
  --bg-color:#fcf0ec;
}
.wrapper {background-color: var(--bg-color); width: 100%; overflow: hidden;}
a {color: #000; display: block;}
h2 {font-family:'SilkSerif';}

/****** header ******/
/* nav바 상단고정 */
nav {
  height: 123px; width: 100%; 
  padding: 0 83px;
  position: fixed;
  top: 0; left: 0; 
  box-sizing: border-box;
  z-index: 9999;
}

/* nav바 상단고정 */
nav #gnb {
  height: 123px;
  display: flex;
  justify-content: space-between;
}
/* 로고 가운데 정렬 */
nav #gnb img {width: 78px; position: absolute; top: 50%; transform: translate(0, -50%);}
/* menu 폰트설정 */
nav #gnb li:last-child > * {
  font-family: 'Montserrat';
}
nav #gnb li:last-child h5 {
  cursor: pointer;
  margin: 40px 0 20px 0;
  font-size: 25px;
  font-weight: 500;
  color: var(--main-color);
  padding-right: 4px;
  position: relative;
  transition: .5s;
}
nav #gnb li:last-child h5:hover::before {
  width: 100%;
}
nav #gnb li:last-child h5 a {
  color: #000;
}
nav #gnb li:last-child h5.close a {
  color: rgba(0, 0, 0, 0); 
  position: relative;
}
.btn_wrapper{
  position: relative;
}
nav #gnb li:last-child .btn_wrapper #menuBtn2 {
  color: #000;
  position: absolute;
  top: 0;
}


/* 토글메뉴 버튼 이름 바꾸기 menu => close */
nav #gnb li:last-child h5.close a::after {
  content: "CLOSE";
  position: absolute;
  color: #000;
  top: 0; left: 0;
}
nav #gnb li:last-child h5.close a::before {
  content: "";
  position: absolute;
  width: 110%; height: 10px;
  bottom: 0;
  background-color: rgba(70, 130, 180,.7);
} 
nav #gnb li:last-child .menu {display: none; z-index: 9999; overflow: hidden;}
nav #gnb li:last-child #menu_box li {
  padding: 6px 0 4px;
  margin: 5px 0;
}
nav #gnb li:last-child #menu_box a {
  font-size: 1.3rem;
  padding-bottom: 3px;
  position: relative;
}
/* menu hover 스타일 */
nav #gnb li:last-child #menu_box a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #000;
  bottom: 0; left: 0;
  transition: .3s;
}
nav #gnb li:last-child #menu_box li:hover a::after {
  width: 100%;
}

/* 메인 디바이스 이미지 */
.header_img { width: 100%; height: 900px; position: relative;}
.header_img img {
  position: absolute;
  top: 178px; left: 21.41vw;
}

/* project title */
.title * {position: absolute;}
.title {
  width: 100%; height: 180px;
  position: relative;
}
.title::after {
  content: '';
  position: absolute;
  width: 93.75vw;
  height: 1px;
  background-color: #000;
  bottom: 0; left: 50%;
  transform: translate(-50%);
}
.title h2 { 
  font-size: 5rem;
  top: 0; left: 14.95vw;
}
.title h3 {
  font-family: 'GmarketSans'; font-weight: 300;
  font-size: 1.75rem;
  bottom: 60px; left: 14.95vw;
}
.title p {
  font-family: 'Montserrat';
  font-size: 1.2rem;
  text-align: right;
  line-height: 1.4;
  right: 9.58vw;
  bottom: 60px;
}


/****** main ******/
main .box {
  width: 1063px; height: 1500px;
  margin: 0 auto;
  position: relative; 
}

/* main 공통값 */
main .box {position: relative;}
main .content {position: absolute; top: 200px; left: 50px;}
main .content h3 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 28px;
}
/* 각 박스 하단의 border값 삽입 */
main .box::after {
  content: '';
  position: absolute;
  width: 80vw;
  height: 1px;
  background-color: #000;
  bottom: 0; left: 50%;
  transform: translate(-50%);
}
/* 소제목 position값 */
main h2 {position: absolute; top: 100px; left: 0; font-size: 50px;}

/* main 01 _ design */
.main01 {width: 100%; height: 1800px;}
main .main01 .design {
  height: inherit;
}
main .main01 .design h3 {margin-top: 147px;}

.main01 .design .design_txt p {
  font-family: 'Pretendard';
  font-weight: 300;
  color: #000;
}
.main01 .design .design_txt #concept h3 {margin-top: 0;}
.main01 .design .design_txt #concept p {
  font-size: 22px; line-height: 2.125rem;
  padding: 30px 30px;
  word-break: keep-all;
}
.main01 .design .design_txt #keyword .keyBox {
  display: flex; 
  font-family: 'GmarketSans'; font-weight: 300; 
  font-size: 30px; justify-content: center;
}
.main01 .design .design_txt #keyword .keyBox li {
  width: 148px; height: 148px; border-radius: 50%;
  border: 1px solid var(--main-color);
  text-align: center; line-height: 148px;
  margin: 30px 30px;
}
.main01 .design .design_txt #colorPalette .colorBox { 
  display: flex;
  justify-content: center;
  text-align: center;
}
.main01 .design .design_txt #colorPalette .colorBox li {margin: 30px 30px;}
.main01 .design .design_txt #colorPalette .colorBox .color {
  width: 100px; height: 100px; 
  border-radius: 50%; color: rgba(0, 0, 0, 0); 
  margin-bottom: 10px;
}

/* #typography grid kor&eng 나누기 */
.main01 .design .design_txt #typography .font_wrapper {
  margin: 30px 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


/* typography 공통적용 부분 font-size */
#typography h4{ /* kor,eng */
  font-size: 25px; border-bottom: 1px solid #000; 
  width: fit-content; 
  padding-bottom: 4px; margin-bottom: 30px;
  font-family: 'Montserrat';
  font-weight: 500;
}

#typography h5{font-size: 30px;} /* 서체명 */
#typography h6{font-size: 55px;} /* 가, Aa */
#typography p{font-size: 20px;} /* weight */

.main01 .design .design_txt #typography .font { /* weight 나누기 */
  display: flex;
  text-align: center;
}
.main01 .design .design_txt #typography .font li{ /* weight 가로값 */
  margin-top: 20px; width: 120px;
}
.main01 .design .design_txt #typography .font li:nth-child(1) * {font-weight: 300;}
.main01 .design .design_txt #typography .font li:nth-child(2) * {font-weight: 500;}
.main01 .design .design_txt #typography.font li:nth-child(3) *{font-weight: 700;}


/* main 02 */
.main02 {width: 100%; height: 596px;}
.main02 .pubilsing { height: inherit}
.main02 p {font-family: 'Pretendard'; font-weight: 300; font-size: 22px;}
.main02 h3 {margin-bottom: 20px;}
.main02 .pubilsing_txt {
  width: 90%;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr) ;
}
.main02 #device p { font-family:'Montserrat'; font-weight: 400;}
.main02 #device li {display: flex; margin-bottom: 10px;}
.main02 #device li > p {width: 120px;}
.main02 #about .tag {
  display: grid;
  grid-template: repeat(2, 35px) / repeat(3, 1fr);
  font-size: 22px;
  font-family:'Montserrat';
  font-weight: 400;
}
.main02 #about .tag li {
  margin-right: 10px;
}
.main02 #about .tag li:nth-child(3),
.main02 #about .tag li:nth-child(5) {font-family: 'Pretendard'; font-weight: 300;}
.main02 #goal {
  grid-column: 2;
  margin: 20px 0;
}

main .main03 .problems_solution {height: 984px;}
.main03 .PS_txt h3 { font-family: 'Pretendard'; margin-bottom: 10px; font-size: 30px;}
.main03 .PS_txt {left: 50px;}
.main03 .PS_txt li {
  margin-bottom: 60px; font-family: 'Pretendard';
  font-weight: 300;
  font-size: 21px;
  line-height: 2.5rem;
  word-break: keep-all;
}

main .main04 {height: 714px;}
.main04 p {
  font-family: 'Pretendard';
  font-weight: 300;
  font-size: 21px;
  line-height: 2.5rem;
  word-break: keep-all;
  margin-bottom: 30px;
}
.view_site_wrapper {
  position: relative;
  width: 100vw; height: 10vh;
}
.view_site {
  width: fit-content;
  position: absolute;
  right: 0;
  bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.view_site li {
  width: 310px; height: 47px;
}
.view_site_wrapper .view_site li a {
  display: block; font-size: 47px; 
  font-family:'SilkSerif'; position: relative;
}
.view_site a img {top: 50%; transform: translateY(-50%); position: absolute;}
.view_site li a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 20px;
  bottom: 0; left: 0;
  background-color: rgba(70, 130, 180,.5);
  transition: .5s;
  /* z-index: -1; */
}
.view_site li:hover a::before {
  width: 252.11px;
}

.view_site img {width: 50px; }

.slide_btn_wrapper {
  width: 100%; height: 10vh;
}
.slide_btn {
  width: 95vw; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.slide_btn li {
  width: 70px; height: 70px;
  border: 1.5px solid #444;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  transition: .4s;
}
.slide_btn li:hover {
  background-color: #444;
  color: #fff;
  transform: scale(1.2);
}
.slide_btn li:hover a {
  color: #fff;
}


footer {width: 100%; height: 85.7141px; padding: 0 50px;}
footer p {font-size: 1.25rem; line-height: 85.7141px; font-weight: 300;}


