@charset "utf-8";

:root {
  --main-color:#202527;
  --bg-color:#fcf0ec;
}

  h1, h2, h3, h4, h5 {font-family: "SilkSerif";}
  p {font-family: "GmarketSans";}
  a {color: var(--main-color); display: block;}



.wrapper {background-color: var(--bg-color); width: 100%; overflow: hidden;}

/* header */
* {box-sizing: border-box;}
header .top_nav_wrapper {position: fixed; top: 0; z-index: 9999;}  
header .top_nav {
  width: 100vw; height: 134px;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.125rem;
}
header .top_nav .logo{width: 110px; margin-top: 3px;}
header .top_nav .top_menu{display: flex; text-align: center;}
header .top_nav .top_menu li {
  padding: 10px 10px; margin: 0 20px;
  height: fit-content;
  cursor: pointer;
}

/*** menu 마우스 이벤트 추가 ***/
header .top_nav .top_menu li {position: relative;}
header .top_nav .top_menu li::after {
  content: "";
  background-color: var(--main-color);
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0; left: 0; 
  transition: .3s;
}
/* :hover width:100% */
header .top_nav .top_menu li:hover::after {width: 100%;}

header .top_nav .E-mail{padding: 10px 0;}

header .title_wrapper {
  margin-top: 134px;
  height: 1127px;
  position: relative;
  overflow: hidden;
}
header .title_wrapper .title{height: inherit;}

/* 라인생성 1px  after: 왼쪽 before: 오른쪽*/
header .title_wrapper .title::after {
  content: "";
  position: absolute;
  width: 1px; height: 0px; background-color: #000;
  top: 42px; left: 6.4063vw;
  animation: header_line1 1s .5s 1 forwards;
  
}
header .title_wrapper .title::before {
  content: "";
  width: 0px; height: 1px; background-color: #000;
  position: absolute;
  top: 327px; right: 0;
  animation: header_line2 1s .5s 1 forwards;
}

/* title 내용 */
header .title_wrapper .title h2 {
  font-size: 7.625rem;
  top: 190px; right: 26.5625vw;
  position: absolute;
}
header .title_wrapper .title h1 {
  font-size: 9.75rem;
  top: 330px; right: 4.6875vw;
  position: absolute;
}
header .title_wrapper .title p {
  font-size: 2rem;
  font-family: "Montserrat";
  top: 280px; right: 1.5625vw;
  position: absolute;
}
/* header 애니메이션 */
header .title .header_ani {
  width:326px;
  position: absolute;
  bottom: 180px; left: 4.8438vw;
  animation: header_ani1 infinite linear 25s .5s;
}


/*********** project ***********/
main h3 {font-size: 6.375rem; text-align: center;  position: absolute; left: 50%;
  transform: translate(-50%); font-weight: 300;}
 
/* project 넓이 / 높이 값 */
main .project{width: 100%; height: 1901px; position: relative;}
/* 제목(project) */
main .project > h3{top: 154px; padding: 0 50px;}
main .project > h3::after {
  content: "";
  position: absolute;
  width: 1px; height: 65px; 
  background-color: #000;
  left: 0; bottom: 10px;
}
main .project > h3::before {
  content: "";
  position: absolute;
  width: 1px; height: 65px; 
  background-color: #000;
  right: 0; bottom: 10px;
}
main .project .project_list{
  position: absolute;
  top: 423px; left: 50%;
  transform: translate(-50%);
}
main .project .project_list .content{
  border-bottom: 1px solid #000;
  position: relative;
}

/* 마우스이벤트 추가 */
main .project .project_list .content a {width: 88.3854vw; height: 244px; transition: 1s;}
main .project .project_list .content a::after {
  content: "";
  width: 0px; height: 1.7px;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0px; left: 0;
  transition: .8s;
}
main .project .project_list .content:hover a::after {
  width: 88.3854vw;
}


main .project .project_list .content span{
  font-size: 1.25rem;
  position: absolute;
  top: 91px; left: 0.5208vw;
  font-family: "GmarketSans";
}
main .project .project_list .content h2{
  font-size: 5.813rem;
  position: absolute;
  top: 61px; left: 5.2083vw;
}
main .project .project_list .content h4{
  font-size: 1.875rem;
  font-family: "GmarketSans";
  font-weight: 300;
  position: absolute;
  bottom: 30px; left: 5.2083vw;
  color: #000;


}
main .project .project_list .content p{
  font-size: 1.25rem;
  font-weight: 400;
  text-align: right;
  line-height: 1.688rem;
  position: absolute;
  bottom: 30px; right: 6.7708vw;
  color: #000;
  font-family: "Montserrat"; 

}
main .project .project_list .content img{ 
  width: 1.1979vw;
  position: absolute;
  bottom: 30px; right: 40px;
}

/*********** about ***********/

main .about {width: 100%; height: 2707px; position: relative; }

main .about > h3 { top: 280px; padding: 0 60px;}

/* 제목 라인추가 after:왼쪽 before:오른쪽 */
main .about > h3::after {
  content: "";
  position: absolute;
  width: 1px; height: 65px; 
  background-color: #000;
  left: 0; bottom: 0px;
}
main .about > h3::before {
  content: "";
  position: absolute;
  width: 1px; height: 65px; 
  background-color: #000;
  right: 0; bottom: 0px;
}
main .about .about_content_wrapper {
  width: 100%;
  position: absolute;
  top: 434px;
}

main .about .about_info {
  height: 1156px; width: 100%;
  position: relative;
}

/* info 바로밑 자식태그 position:absolute 적용*/
main .about .about_info > * {position: absolute;}


/* about 동그라미 애니메이션 */
/* about 왼쪽 동그라미 애니메이션*/
main .about .about_info .ani1_wrapper {
  top: 0; right: -60px;
}
main .about .about_info .ani1_wrapper .ani1{
  position: relative;
  width: 374px; height: 374px;
}
main .about .about_info .ani1_wrapper .ani1 .ani1_img {
  position: absolute;
  width: 312px; height: 312px;
  color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  background: url(../images/about_ani1.png) no-repeat 50% / cover;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}
main .about .about_info .ani1_wrapper .ani1 .about_ani1 {
  width: 374px;
  position: absolute;
  animation: about_ani1 25s infinite linear;
}

/* about 오른쪽 동그라미 애니메이션*/
main .about .about_info .ani2_wrapper {
  bottom: 0; left: -60px;
}
main .about .about_info .ani2_wrapper .ani2 {
  position: relative;
  width: 458px; height: 458px;
}
main .about .about_info .ani2_wrapper .ani2 .ani2_img{
  position: absolute;
  width: 385px; height: 385px;
  color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  background: url(../images/about_ani2.png) no-repeat 50% / cover;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}
main .about .about_info .ani2_wrapper .ani2 .about_ani2{
  width: 458px;
  animation: about_ani2 25s infinite linear;
}

main .about .about_info > p {
  font-size: 2.232rem;
  font-weight: 300;
  left: 131px; top: 297px;

}
main .about .about_info h2 {
  font-size: 5.449rem;
  font-family: "GmarketSans";
  left: 120px; top: 350px;
}
main .about .about_info .about_me {
  font-size: 2.188rem;
  line-height: 3.625rem;
  font-weight: 300;
  text-align: right;
  right: 130px; top: 584px;

}

/* about_skill부분 css */
main .about .about_skill {
  height: 1117px; width: 100%;
}
main .about .about_skill h2 {
  font-weight: 100;
  font-size: 4.418rem;
  text-align: center;
  padding: 100px;
}
main .about .about_skill .skill_list { 
  width: 100%; 
}
main .about .about_skill .skill_list .content {
  margin: 0 auto;
  width: 1531px; height: 200px;
  border-bottom: 1px solid #000;
  position: relative;
}
main .about .about_skill .skill_list .content h5 {
  font-family: "Montserrat";
  position: absolute;
  left: 187.4px; top: 50%;
  transform: translate(0,-50%);
  font-size: 2.75rem;
}
main .about .about_skill .skill_list .content .possible {
  font-family: "GmarketSans";
  font-weight: 100;
  font-size: 1.375rem;
  line-height: 2.438rem;
  position: absolute;
  left: 907.411px; top: 50%;
  transform: translate(0,-50%);
}

/* contact */
article {width: 100%; height: 883.1972px; position: relative;}
article .contact { 
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
article .contact h2 {
  font-size: 6.397rem; 
  padding: 10px 60px;
  position: relative;
  transition: .5s;
  z-index: 9999;
}
.contact h2::after {
  content: "";
  position: absolute;
  width: 1px; height: 80px;
  background-color: #000;
  left: 0; bottom: 13px;
  transition: .5s;
}
.contact h2::before {
  content: "";
  position: absolute;
  width: 1px; height: 80px;
  background-color: #000;
  right: 0; bottom: 13px;
}



footer {width: 100%; height: 85.7141px; padding: 0 50px;}
footer p {font-size: 1.25rem; line-height: 85.7141px; font-weight: 300;}

