@charset "utf-8";

:root {
  --main-color:#202527;
  --bg-color:#fcf0ec;
}

  h1, h2, h3, h4, h5 {font-family: "SilkSerif";}
  p {font-family: "GmarketSans";}
  a {color: var(--main-color); display: block;}

  img{width: 329px;}


.wrapper {background-color: var(--bg-color); width: 100%; overflow: hidden;}

/* header */
* {box-sizing: border-box;}
header .top_nav_wrapper {position: fixed; top: 0; z-index: 9999;}  
header .top_nav {
  width: 100vw; height: 134px;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.125rem;
}
header .top_nav .logo{width: 110px; margin-top: 3px;}
header .top_nav .top_menu{display: flex; text-align: center;}
header .top_nav .top_menu li {
  padding: 10px 10px; margin: 0 20px;
  height: fit-content;
  cursor: pointer;
}

/*** menu 마우스 이벤트 추가 ***/
header .top_nav .top_menu li {position: relative;}
header .top_nav .top_menu li::after {
  content: "";
  background-color: var(--main-color);
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0; left: 0; 
  transition: .3s;
}
/* :hover width:100% */
header .top_nav .top_menu li:hover::after {width: 100%;}

header .top_nav .E-mail{padding: 10px 0;}

header .title_wrapper {
  margin-top: 134px;
  height: 1127px;
  position: relative;
  overflow: hidden;
}
header .title_wrapper .title{height: inherit;}

/* 라인생성 1px  after: 왼쪽 before: 오른쪽*/
header .title_wrapper .title::after {
  content: "";
  position: absolute;
  width: 1px; height: 0px; background-color: #000;
  top: 42px; left: 6.4063vw;
  animation: line1 1s .7s 1 forwards;
  
}
header .title_wrapper .title::before {
  content: "";
  width: 0px; height: 1px; background-color: #000;
  position: absolute;
  top: 327px; right: 0;
  animation: line2 1s .7s 1 forwards;
}

/* title 내용 */
header .title_wrapper .title h2 {
  font-size: 7.625rem;
  top: 190px; right: 26.5625vw;
  position: absolute;
}
header .title_wrapper .title h1 {
  font-size: 9.75rem;
  top: 330px; right: 4.6875vw;
  position: absolute;
}
header .title_wrapper .title p {
  font-size: 2rem;
  top: 280px; right: 1.5625vw;
  position: absolute;
}
/* header 애니메이션 */
header .title .header_ani {
  position: absolute;
  bottom: 180px; left: 4.8438vw;
  animation: ani1 infinite linear 15s;
}


/*********** project ***********/

/* project 넓이 / 높이 값 */
main .project{width: 100%; height: 1901px; position: relative;}
/* 제목(project) */
main .project > h3{
  font-size: 6.375rem;
  text-align: center;
  position: absolute;
  top: 154px; left: 50%;
  transform: translate(-50%);
}
main .project .project_list{
  position: absolute;
  top: 423px; left: 50%;
  transform: translate(-50%);
}
main .project .project_list .content{
  border-bottom: 1px solid #000;
  position: relative;
}

/* 마우스이벤트 추가 */
main .project .project_list .content a {width: 1697px; height: 244px; transition: 1s;}
main .project .project_list .content a::after {
  content: "";
  width: 0px; height: 1.7px;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0px; left: 0;
  transition: .8s;
}
main .project .project_list .content:hover a::after {
  width: 1697px;
}


main .project .project_list .content span{
  font-size: 1.25rem;
  position: absolute;
  top: 91px; left: 10px;
  font-family: "GmarketSans";
}
main .project .project_list .content h2{
  font-size: 5.813rem;
  position: absolute;
  top: 61px; left: 100px;
}
main .project .project_list .content h4{
  font-size: 1.875rem;
  font-family: "GmarketSans";
  font-weight: 300;
  position: absolute;
  bottom: 30px; left: 100px;
  color: #000;


}
main .project .project_list .content p{
  font-size: 1.25rem;
  font-weight: 300;
  text-align: right;
  line-height: 1.688rem;
  position: absolute;
  bottom: 30px; right: 130px;
  color: #000;
}
main .project .project_list .content img{ 
  width: 23px;
  position: absolute;
  bottom: 30px; right: 40px;
}
