@charset "utf-8";

@font-face {
  font-family: 'Pretendard';
  src: url(../assets/css/font/PretendardVariable.woff2) format('woff2-variations');
  font-style: normal;
  font-display: swap;
  font-weight: 45 920;
}

@font-face {
  font-family: 'SBAggro';
  src: url(../assets/css/font/SBAggroLight.woff) format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'SBAggro';
  src: url(../assets/css/font/SBAggroMedium.woff) format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'SBAggro';
  src: url(../assets/css/font/SBAggroBold.woff) format('woff');
  font-style: normal;
  font-weight: 700;
}