@charset "utf-8";
/* project 공통 필요부분 ----------------------------- */
:root {
  --main-color:#202527;
  --bg-color:#fcf0ec;
}
.wrapper {background-color: var(--bg-color); width: 100%; overflow: hidden;}
a {color: #000; display: block;}
h2 {font-family:'SilkSerif';}

/* nav바 상단고정 */
nav {
  height: 123px; width: 100%; 
  padding: 0 83px;
  position: fixed;
  top: 0; left: 0; 
  box-sizing: border-box;
  z-index: 9999;
}

/* nav바 상단고정 */
nav #gnb {
  height: 123px;
  display: flex;
  justify-content: space-between;
}
/* 로고 가운데 정렬 */
nav #gnb img {width: 78px; position: absolute; top: 50%; transform: translate(0, -50%);}
/* menu 폰트설정 */
nav #gnb li:last-child > * {
  font-family: 'Montserrat';
}
nav #gnb li:last-child h5 {
  cursor: pointer;
  margin: 40px 0 20px 0;
  font-size: 25px;
  font-weight: 500;
  color: var(--main-color);
  padding-right: 4px;
  position: relative;
  transition: .5s;
}
nav #gnb li:last-child h5:hover::before {
  width: 100%;
}
nav #gnb li:last-child h5 a {
  color: #000;
}
nav #gnb li:last-child h5.close a {
  color: rgba(0, 0, 0, 0); 
  position: relative;
}
.btn_wrapper{
  position: relative;
}
nav #gnb li:last-child .btn_wrapper #menuBtn2 {
  color: #000;
  position: absolute;
  top: 0;
}


/* 토글메뉴 버튼 이름 바꾸기 menu => close */
nav #gnb li:last-child h5.close a::after {
  content: "CLOSE";
  position: absolute;
  color: #000;
  top: 0; left: 0;
}
nav #gnb li:last-child h5.close a::before {
  content: "";
  position: absolute;
  width: 110%; height: 10px;
  bottom: 0;
  background-color: rgba(70, 130, 180,.7);
} 
nav #gnb li:last-child .menu {display: none; z-index: 9999; overflow: hidden;}
nav #gnb li:last-child #menu_box li {
  padding: 6px 0 4px;
  margin: 5px 0;
}
nav #gnb li:last-child #menu_box a {
  font-size: 1.3rem;
  padding-bottom: 3px;
  position: relative;
}
/* menu hover 스타일 */
nav #gnb li:last-child #menu_box a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #000;
  bottom: 0; left: 0;
  transition: .3s;
}
nav #gnb li:last-child #menu_box li:hover a::after {
  width: 100%;
}

.slide_btn_wrapper {
  width: 100%; height: 10vh;
}
.slide_btn {
  width: 95vw; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.slide_btn li {
  width: 70px; height: 70px;
  border: 1.5px solid #444;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  transition: .4s;
}
.slide_btn li:hover {
  background-color: #444;
  color: #fff;
  transform: scale(1.2);
}
.slide_btn li:hover a {
  color: #fff;
}

footer {width: 100%; height: 85.7141px; padding: 0 50px;}
footer p {font-size: 1.25rem; line-height: 85.7141px; font-weight: 300;}

/* body::-webkit-scrollbar {
  width: 8px;  스크롤바의 너비
}

body::-webkit-scrollbar-thumb {
  height: 30%; 스크롤바의 길이
  background: #000000; 스크롤바의 색상
  
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  스크롤바 뒷 배경 색상
} */


/* --------------------------------------------------- */

header {height: 960px;  overflow: hidden;}
.title_page {margin-top: 123px; height: 837px; position: relative; margin-bottom: 20px; }

.title_page::after {
  content: '';
  width: 94.79vw;
  height: 1px;
  background-color: #202527 ;
  position: absolute;
  bottom: 0; right: 0;
}
.title_page .title {
  position: absolute;
  top: 190px; left: 9.97vw;
}
.title_page .title h3,
.title_page .title h5 {
  font-family:'GmarketSans';
  font-weight: 300;
  font-size: 30px;
}
.title_page .title h2 {
  font-size: 74px;
  margin: 5px 0 30px;
}
.title_page .info {
  position: absolute;
  left: 9.97vw; bottom: 30px;
  font-family:'GmarketSans';
  font-weight: 300;
  font-size: 25px;
  width: 39vw;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 1fr 1fr;
  height: 93px;
}
.title_page .info li:last-child {
  grid-column: 1 / 3;
}
.title_page .app_img img {
  width: 45vw;
  position: absolute;
  right: 0; bottom: 1px;
  vertical-align: top;
}


/* main ------------------------------ */
/* main 제목 위치 조정 */
.inner {width: fit-content; margin: 0 auto;}
.main_box {
  width: 100%;
  font-family: 'Pretendard';
}
.main_box h2 {
  margin: 167px 0 83px 11.41vw;
  font-size: 45px;
  font-weight: 500;
}

.main01 .inner{
  margin: 0 auto;
  width: 1290px;
  display: flex;
  padding-left: 50px;
  justify-content: space-between;
}
.main01 .inner p {
  font-size: 25px;
  font-weight: 300;
}
.main01 .inner h5 {
  padding: 25px;
  font-size: 25px;
  font-weight: 200;
  line-height: 1.4;
}
.main01 .inner .after h5 {
  font-size: 38px;
  font-weight: 400;
}
.main01 .inner .arrow {
  display: flex;
}

/* main02 - as-is */
.main02 .inner {
  width: 742px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.main02 .inner figcaption {
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
.main02 .inner .as-is_txt {
  font-size: 23px;
  line-height: 2.5;
}
/* main03 - to-be */
.main03 .inner{
  width: 1152px; height: 780px;
  margin: 0 auto;
  position: relative;
}
.main03 .inner .prototype {
  position: absolute;
  top: 0; left: 0;
}
.main03 .inner .to-be_img {
  position: absolute;
  display: flex;
  right: 0; top: 20px;
}
.main03 .inner .to-be_img li {
  padding: 0 25px;
}

.main03 .inner figcaption{
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
.main03 .inner .to-be_txt {
  position: absolute;
  bottom: 0; left: 0;
  font-size: 23px;
  line-height: 3.625rem;
}

/* to-be prototype 비디오 위치 조정 */
.prototype .video {
  width: 230px; height: 497px;
  position: relative;
  border: 8.1px solid #000; border-radius: 30px;
  overflow: hidden;
}
.prototype .video video {
  position: absolute;
  width: 231.5px;
  top: -20px; left: -1px;
}

/* main04 - progress */
.main04 .inner {
  font-size: 23px;
  line-height: 3.625rem;
}
/* main05 - evaluation */
.main05 {
  position: relative;
  overflow: hidden;
  margin: 150px 0;
}
.main05::after,
.main05::before {
  content: '';
  width: 76.35vw;
  height: 1px;
  background-color: #202527;
  position: absolute;
}
.main05::after {top: 0; left:50%; transform: translateX(-50%);}
.main05::before {bottom: 0; left:50%; transform: translateX(-50%);}
.main05 .inner_txt {
  font-size: 23px;
  font-weight: 300;
  line-height: 3.625rem;
}
.main05 .inner_txt>li{
  display: flex;
  margin-bottom: 90px;
}

.main05 .inner_txt>li h3 {
  font-family: 'Montserrat';
  font-weight: 500;
  text-align: right;
  width: 223px;
  margin-right: 96px;
}
.main06 {
  margin-bottom: 100px;
}
.main06 .inner {
  font-size: 21px;
  line-height: 2.938rem;
}
.main06 .inner p {
  padding-bottom: 73px;
}
main .view_more {
  display: flex;
  margin-left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  margin-bottom: 50px;
}
main .view_more a {
  width: 352px; height: 72px;
  font-family:'SilkSerif';
  font-size: 34px;
  border: 1px solid #202527;
  border-radius: 15px;
  text-align: center;
  line-height: 72px;
  transition: .3s;
}
main .view_more a:hover {
  background-color: #444;
  color: #fff;
}